## Preprocessing

# New Section

# New Section

In [76]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [77]:
# Determine the number of unique values in each column.
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [78]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"], 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [79]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

INPUTS - APPLICATION_TYPE,AFFILIATION, CALSSIFICATION,USE_CASEORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATION,ASK_AMT

OUTPUTS - IS_SUCCESSFUL -  0 if not successful, 1 if not successful

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
# Drop the non-beneficial ID columns, 'EIN' , 'SPECIAL_CONSIDERATIONS', 'STATUS'.
application_df = application_df.drop(["EIN","SPECIAL_CONSIDERATIONS", "STATUS"], 1)
application_df.head()

In [96]:
application_df.nunique()

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

application type and calssifcation are the ones foucs on as they have over 10 value

In [82]:
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

suggested cutoff will be 500 anything less will be binned in to other

In [ ]:
name_counts = application_df["NAME"].value_counts()
name_counts [name_counts>5]

In [97]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [100]:
application_counts = application_df["APPLICATION_TYPE"].value_counts()

In [86]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

suggested cutoff will be everywhere where classifcation counts is greater than 1

In [87]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [88]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [89]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(3)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [90]:
# Split our preprocessed data into our features and target arrays
x = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values


# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [91]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [102]:
from numpy import number
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(x_train[0])
layer1Nodes = 80
layer2Nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1Nodes, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2Nodes, input_dim=layer1Nodes, activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim=layer2Nodes, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 80)                3520

 dense_16 (Dense)            (None, 30)                2430

 dense_17 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [104]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer= "ADAM", metrics=["accuracy"])

In [105]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5733 - accuracy: 0.7188
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7288
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7310
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7331
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7344
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7341
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7352
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7351
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7349
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7337
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7365
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7362
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7365
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7373
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7372
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7370
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7366
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7378
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7375
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7370
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7377
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7384
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7384
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7382
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7380
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7386
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7386
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7379
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7396
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7382
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7384
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7391
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7384
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7385
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7390
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7384
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7407

In [107]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5556 - accuracy: 0.7304 - 651ms/epoch - 2ms/step
Loss: 0.5556076169013977, Accuracy: 0.7303789854049683

In [108]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")